:root {
    --cobalt: #2B3784;
    --carnelian: #B11313;
    --crimson: #DF1F2D;
    --cyan: #447BBE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffef9;
}

.main-content {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 2% 5%;
    display: inline-block;
    width: 100%;
    flex: auto;
    height: 100%;
}

/* .main-content div h2 :nth-child(odd) {
    display: inline-block;
}

.main-content div p :nth-child(odd) {
    display: inline-block;
} */

hr {
    clear: both;
    border-top: 5px solid;
    border-radius: 5px;
    opacity: 10%;
    margin-top: 175px;
    margin-bottom: 50px;
}

hr:nth-of-type(even) {
    border-color: var(--carnelian);
}

hr:nth-of-type(odd) {
    border-color: var(--cyan);
}

.main-content div:nth-of-type(odd) {
    color: var(--crimson);
}

.main-content div:nth-of-type(even) {
    color: var(--cyan);
}

.left-body-content, .right-body-content {
    height: 100%;
    clear: both;
    padding-top: 2%;
}

.left-body-content h2 {
    width: 15%;
    float: left;
    text-align: center;
    font-size: 40px;
}

.left-body-content p,
.left-body-content ul  {
    float: right;
    width: 80%;
    font-size: 20px;
    text-align: justify;
}

.right-body-content h2 {
    width: 15%;
    float: right;
    text-align: center;
    font-size: 40px;
}

.right-body-content p {
    float: left;
    width: 80%;
    font-size: 20px;
    text-align: justify;
}

/* .main-content div h2 {
    display: inline-block;
}

.main-content div p {
    display: inline-block;
} */

header {
    padding: 1% 3%;
    background-color: var(--cobalt);
    color: white;
    font-size: 20px;
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
}

header h1 {
    display: inline-block;
    padding-left: 1%;
}

header ul {
    padding-top: 1%;
    list-style-type: none;
    float: right;
    font-size: 20px;
}

header li {
    display: inline-block;
    padding: 0 40px;
}

.main-content {
    width: 100%;
}

footer {
    background-color: var(--carnelian);
    clear: both;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}