:root {
    --cobalt: #2B3784;
    --carnelian: #B11313;
    --crimson: #DF1F2D;
    --cyan: #447BBE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-content {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 2% 2%;
    display: inline-block;
    width: 100%;
    flex: auto;
    height: 100%;
}

/* .main-content div h2 :nth-child(odd) {
    display: inline-block;
}

.main-content div p :nth-child(odd) {
    display: inline-block;
} */

.main-content div:nth-child(odd) {
    color: var(--carnelian);
}

.main-content .left-header-content h2 {
    width: 15%;
    float: left;
    text-align: center;
    font-size: 40px;
}

.main-content .left-header-content p {
    float: right;
    width: 80%;
    font-size: 20px;
    text-align: end;
}

/* .main-content div h2 {
    display: inline-block;
}

.main-content div p {
    display: inline-block;
} */

header {
    padding: 1% 3%;
    background-color: var(--cobalt);
    color: white;
    font-size: 20px;
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
}

header h1 {
    display: inline-block;
    padding-left: 1%;
}

header ul {
    padding-top: 1%;
    list-style-type: none;
    float: right;
    font-size: 20px;
}

header li {
    display: inline-block;
    padding: 0 40px;
}

.main-content {
    clear: both;
    width: 100%;
}

footer {
    background-color: var(--carnelian);
    clear: both;
    color: white;
    text-align: center;
    padding: 10px;
}